<html>
    <head>
        <title>Блог для музыкантов</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Блог для музыкантов</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Первый пост</a></h2>
            <p>Я создала свой первый пост. УРА!!!</p>
        </div>

        <div>
            <p>published: 21.10.2017, 17:28</p>
            <h2><a href="">Спасибо!</a></h2>
            <p>Спасибо нашим преподавателям!</p>
        </div>
    </body>
</html>
